---
import Layout from '../layouts/default.astro';
---

<Layout>
	<div class="shop">
		<h1>Shop Sandwich Kits</h1>

		<noscript>
			<p>
				JavaScript is required to purchase from the sndwch store. To order by
				phone, call <a href="tel:0000000000">000-000-0000</a>
			</p>
		</noscript>
	</div>
</Layout>
